/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em;
}

#totalTimer {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Main Content Styles */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for exercise boxes */
.exercise-box {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items with space between them */
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc; /* Add a border for separation */
  border-radius: 5px;
  background-color: #f9f9f9; /* Set a uniform background color */
}

.exercise-box span {
  margin-right: 10px; /* Add spacing between exercise name and sets */
}

.removeBtn {
  background-color: #fff; /* Set background color to white */
  border: 1px solid #ccc; /* Add a border for button */
  border-radius: 3px;
  cursor: pointer;
  color: #f44336; /* Change text color to a red shade */
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}

.removeBtn:hover {
  background-color: #f44336; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

/* Summary Styles */
#summary {
  margin-top: 20px;
  text-align: center;
}

#summary h2 {
  margin-bottom: 20px;
}

#summary p {
  font-size: 1.2em;
  margin: 10px 0;
}

/* Finish Button Styles */
#finishButton {
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

#finishButton:hover {
  background-color: #0056b3;
}
