/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
}

header h1 {
  margin: 0;
}

header .fas {
  font-size: 1.5em;
  cursor: pointer;
}

header .fas:hover {
  color: #0056b3;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Styles for custom workout page */
#customWorkoutPage {
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

#customWorkoutPage select,
#customWorkoutPage input,
#customWorkoutPage button {
  margin: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.3s;
}

#customWorkoutPage button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#customWorkoutPage button:hover {
  background-color: #0056b3;
}

#workoutSession {
  margin-top: 20px;
}

/* Styles for exercise boxes */
.exercise-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  background-color: #fafafa;
  transition: background-color 0.3s;
}

.exercise-box:hover {
  background-color: #f0f0f0;
}

.exercise-box span {
  margin-right: 10px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.move-icon,
.remove-icon {
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.move-icon {
  left: 10px;
}

.remove-icon {
  right: 10px;
  color: #f44336;
  cursor: pointer;
  transition: color 0.3s;
}

.remove-icon:hover {
  color: #c62828;
}

/* Hide elements initially */
.hidden {
  display: none;
}
