/* Styles for header */
header {
  background-color: #333;
  padding: 2em 0; /* Increased padding */
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}


/* Styles for plans tiles */
#plansPage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.plans-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px; /* Adjust size as needed */
  height: 500px; /* Adjust size as needed */
  margin: 0 20px; /* Create space between the tiles */
  padding: 20px;
  text-align: center;
  font-size: 2.0em; /* Increase text size */
}

.plans-tile img {
  width: 80%; /* Adjust size as needed */
  height: auto;
  margin-bottom: 10px;
}

.plans-tile .tile-text {
  display: block;
  font-weight: bold;
}
