/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 2em;
}

#totalTimer {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Countdown Styles */
#countdown {
  text-align: center;
  margin-bottom: 20px;
}

#countdownTimer {
  font-size: 4em;
  font-weight: bold;
  color: #4CAF50; /* Green countdown timer */
}

#skipCountdownButton {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

#skipCountdownButton:hover {
  background-color: #45a049; /* Darker shade for hover effect */
}

/* Workout Details Styles */
#workoutDetails {
  text-align: center;
  margin-top: 20px;
}

.workout-timer {
  font-size: 2em;
  margin-top: 10px;
  color: #4CAF50; /* Green workout timer */
}

#nextWorkout {
  font-size: 0.8em;
  margin-top: 10px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.button-container button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.button-container button:hover {
  background-color: #45a049; /* Darker shade for hover effect */
}

/* Summary Styles */
#summary {
  margin-top: 20px;
  text-align: center;
}

#summary h2 {
  margin-bottom: 20px;
}

#summary p {
  font-size: 1.2em;
  margin: 10px 0;
}

/* Center the finish button */
#finishButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}

#finishButton.hidden {
  display: none;
}

#finishButton:hover {
  background-color: #45a049; /* Darker shade for hover effect */
}
